<!DOCTYPE html>
<html lang="fa">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>صفحه اصلی</title>
    <link rel="stylesheet" href="../../static/mainPage/style.css" />
  </head>
  <body>
    <div class="container">
      <header>
        <h1>خوش آمدید به وب‌سایت ما!</h1>
      </header>
      <main>
        <section class="welcome-section">
          <h2>پیام خوشامد</h2>
          <p>این یک صفحه ساده و جذاب با طراحی رنگارنگ است.</p>
        </section>
        <section class="message-section">
          <button class="button" onclick="navigateTo('/home')">
            رفتن به خانه
          </button>
          <button class="button" onclick="navigateTo('/signIn')">
            احراز هویت
          </button>
        </section>
      </main>
      <footer>
        <p>تمام حقوق محفوظ است &copy; 2024</p>
      </footer>
    </div>
    <script src="../../static/mainPage/script.js"></script>
  </body>
</html>
